In [2]:
!pip install pandas

Collecting pandas
  Using cached pandas-2.3.1-cp313-cp313-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\coding files\machine learning\myenv\lib\site-packages (from pandas) (2.3.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\coding files\machine learning\myenv\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\coding files\machine learning\myenv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Using cached pandas-2.3.1-cp313-cp313-win_amd64.whl (11.0 MB)
Using cached pytz-2025.2-py2.py3-none-any.whl (509 kB)
Using cached tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.3.1 pytz-2025.2 tzdata-2025.2

[notice] A new release of pip is available: 24.3.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import pandas as pd

In [5]:
data=[1,2,3,4,5]
series=pd.Series(data)
print("Series\n",series)
print(type(series))

Series
 0    1
1    2
2    3
3    4
4    5
dtype: int64
<class 'pandas.core.series.Series'>

In [7]:
# Create series form dictionary
data={'a':1,'b':2,'c':3}
series_dict=pd.Series(data)
print(series_dict)
print(type(series_dict))

a    1
b    2
c    3
dtype: int64
<class 'pandas.core.series.Series'>

In [9]:
data=[10,20,30]
ind=['a','b','c']
pd.Series(data,index=ind)

a    10
b    20
c    30
dtype: int64

In [16]:
# Data frame
# create a dataframe foram a dictionary of list

data={
    'Name':['Krish','jhon','ram'],
    'Age':[25,59,84],
    'City':['mumbai','Newyork','Florida']
}
df=pd.DataFrame(data)
print(df)
print(type(df))

    Name  Age     City
0  Krish   25   mumbai
1   jhon   59  Newyork
2    ram   84  Florida
<class 'pandas.core.frame.DataFrame'>

In [12]:
import numpy as np
np.array(df)

array([['Krish', 25, 'mumbai'],
       ['jhon', 59, 'Newyork'],
       ['ram', 84, 'Florida']], dtype=object)

In [15]:
# Crate a data frame from a list of Dictionaries


data=[
    {'Name':'Krish','Age':32,'City':'Bangalore'},
    {'Name':'Jeevan','Age':32,'City':'Bangalore'},
    {'Name':'Ravan','Age':32,'City':'Bangalore'},
    
]
df=pd.DataFrame(data)
print(df)
print(type(df))

     Name  Age       City
0   Krish   32  Bangalore
1  Jeevan   32  Bangalore
2   Ravan   32  Bangalore
<class 'pandas.core.frame.DataFrame'>

In [18]:
df

    Name  Age     City
0  Krish   25   mumbai
1   jhon   59  Newyork
2    ram   84  Florida

In [19]:
df['Name']

0    Krish
1     jhon
2      ram
Name: Name, dtype: object

In [29]:
df.iloc[2,1]

np.int64(84)

In [30]:
# Data manupilation with dataFame
df

    Name  Age     City
0  Krish   25   mumbai
1   jhon   59  Newyork
2    ram   84  Florida

In [31]:
df['Salary']=[50000,300000,452345]
print(df)

    Name  Age     City  Salary
0  Krish   25   mumbai   50000
1   jhon   59  Newyork  300000
2    ram   84  Florida  452345

In [36]:
# remove a column
df.drop('Salary',axis=1,inplace=True)

In [37]:
df

    Name  Age     City
0  Krish   25   mumbai
1   jhon   59  Newyork
2    ram   84  Florida

In [49]:
# add age to the column
df['Age']=df['Age']+1
df

   Name  Age     City
1  jhon   61  Newyork
2   ram   86  Florida

In [52]:
df.drop(index=0)

KeyError: '[0] not found in axis'